/* Product Detail */
.detailpage__section{
  padding-top: 150px;
}
.project__image__1 .figure {
  width: 100%;
  height: 100%;
}
.project__image__1 .figure img {
  height: 100%;
}

.project__image__2 .figure{
  width: 100%;
  height: 100%;
}

.project__image__2 .figure img {
  height: 63.5%;
}

.project__content .text__title h2{
  font-weight: bold;
  text-align: left;
  letter-spacing: -0.01em;
  font-size: 35px;
  line-height: 74px;
}
.project__content .text__title h5{
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.project__content .text__inform ul{
  padding-left: 0;
  list-style-type: none;
}
.project__content .text__inform{
  padding-top: 2%;
  font-family: Barlow;
  font-style: normal;
  color: #0B0D27;
}
.text__inform .text h6{
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.text__inform .text li{
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

.project_detail_link{
  position: absolute;
  margin-top: 3%;
}
.project_detail_link .button {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 32px;
  border: groove 2px #0B0D27;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
}

.project_detail_link .button a{
  text-decoration: none;
  color: #0B0D27;
}


/*  Another Product */
.other__project_section{
  padding-top: 40px;
}
.other__project_content h2{
  margin-left: 12px;
  color: #0B0D27;
  font-style: normal;
  font-weight: bold;
}
.other__project_content .other_project_carousel{
  padding-top: 20px;
}
.other__project_content .other_project_carousel img{
  width: 100%;
  object-fit: cover;
}
.owl-prev { 
  left: -30px;
}
.owl-next{
  right: -30px;
}
.owl-prev, .owl-next{
  position: absolute;
  top: 90px;
}
.owl-prev span, .owl-next span{
  font-size: 60px;
  color: #000000;
}
.other__project_space{
  height: 100px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-color: rgba(0, 0, 0, 0.3);
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
}
.carousel-inner div{
  left: 25%;
}

/*swipe photo*/
.my-gallery {
  width: 100%;
  /* float: left; */
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}

.spliter {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* Use a media query */
@media only screen and (min-width: 1920px) 
{
   .detailpage_container {
      padding-left: 121px;
    }
    .project__content .text__title{
      padding-top: 3%;
    }
    .project__content .text__title h2{
      width: 470px;
      height: 74px;
      font-size: 64px;
      line-height: 74px;
    }
    .project__content .text__title h5{
      width: 103px;
      margin-top: 2%;
    }
    .text__inform .text h6{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
    .text__inform .text li{
      width: 501px;
      font-size: 18px;
      line-height: 28px;
    }
    .project__content .text__inform{
      padding-top: 5%;
    }
    .project__image__1 .figure img {
      height: 91%;
    }
    .project__image__2 .figure img {
      height: 55%;
    }
    .project__content{
      padding-top: 1%;
    }
    .project_detail_link{
      height: 40px;
      position: absolute;
      margin-top: 3%;
    }
    .project_detail_link .button {
      width: 225px;
    }
    .other__project_section .other__project_content{
      width: 1190px;
    } 
}
 @media only screen and (min-width: 1824px) and (max-width: 1919px){
    .detailpage_container {
      padding-left: 121px;
    }
     .project__content .text__title{
      padding-top: 3%;
    }
    
    .project__content .text__title h2{
      width: 470px;
      height: 74px;
      font-size: 63px;
      line-height: 74px;
    }
    .project__content .text__title h5{
      width: 103px;
      margin-top: 2%;
    }
    .text__inform .text h6{
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
    }
    .text__inform .text li{
      width: 501px;
      font-size: 18px;
      line-height: 28px;
    }
    .project__content .text__inform{
      padding-top: 4%;
    }
    .project__image__1 .figure img {
      height: 91%;
    }
    .project__image__2 .figure img {
      height: 55%;
    }
    .project__content{
      padding-top: 1%;
    }
    .project_detail_link{
      height: 40px;
      position: absolute;
      margin-top: 3%;
    }
    .project_detail_link .button {
      width: 225px;
    }
    .other__project_section .other__project_content{
      width: 1170px;
    } 
}

@media only screen and (min-width: 1600px) and (max-width: 1823px){
  .detailpage_container {
    padding-left: 121px;
  }
  .project__content .text__title{
    padding-top: 2%;
  }
  .project__content .text__title h2{
    width: 470px;
    height: 74px;
    font-size: 63px;
    line-height: 74px;
  }
  .project__content .text__title h5{
    width: 103px;
    margin-top: 2%;
  }
  .text__inform .text h6{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  .text__inform .text li{
    width: 501px;
    font-size: 18px;
    line-height: 28px;
  }
  .project__content .text__inform{
    padding-top: 3%;
  }
  .project__image__1 .figure img {
    height: 100%;
  }
  .project__image__2 .figure img {
    height: 64%;
  }
  .project__content{
    padding-top: 1%;
  }
  .project_detail_link{
    height: 40px;
    position: absolute;
    margin-top: 3%;
  }
  .project_detail_link .button {
    width: 225px;
  }
  .other__project_section .other__project_content{
    width: 1170px;
  }
}
@media only screen and (min-width: 1400px) {
  .detailpage_container {
    padding-left: 121px;
  }
  .project__content .text__title{
    padding-top: 2%;
  }
  .project__content .text__title h2{
    width: 470px;
    height: 70px;
    font-size: 62px;
    line-height: 74px;
  }
  .text__inform .text li{
    width: 460px;
  }
  .project_detail_link{
    position: absolute;
    margin-top: 2%;
  }
  .other__project_section .other__project_content{
    width: 1190px;
  } 
  .owl-prev, .owl-next{
    position: absolute;
    top: 90px;
  }
} 
 
@media screen and (max-width: 992px){
  .project__content{
    padding-top: 0;
  }
  /* .project__image__2{
    display: none;
  } */
  .project__content .text__title h2{
    font-size: 30px;
  }
  .project__content .text__title h5{
    font-size: 16px;
    /* padding-top: 8px; */
  }
  .text__inform .text h6{
    font-size: 16px;
  }
  .text__inform .text li{
    font-size: 15px;
  }
  .project_detail_link a{
    font-size: 15px;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 70px;
  }
}
@media screen and (max-width: 800px) {
  .project__content .text__title h2{
    font-size: 35px;
  }
  .project__image__2{
    display: none;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 40px;
  }
}

@media only screen and (max-width: 600px){
  .project__content .text__title h2{
    font-size: 35px;
  }
  .project__image__2{
    display: none;
  }
  .other__project_content{
    width: 100%;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 120px;
  }
  .owl-prev { 
    left: -12px;
  }
  .owl-next{
    right: -12px;
  }
}
@media only screen and (max-width: 575px){
  .detailpage_container{
    width: 100%;
  }
  .other__project_content{
    width: 100%;
  }
  .project__content .text__title h2{
    font-size: 35px;
  }
  .project__image__2{
    display: none;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 140px;
  }
}
@media only screen and (max-width: 441px){
  .detailpage_container{
    width: 100%;
  }
  .other__project_content{
    width: 100%;
  }
  .project__image__2{
    display: none;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 100px;
  }
}
@media only screen and (max-width: 414px){
  .detailpage_container{
    width: 100%;
  }
  .other__project_content{
    width: 100%;
  }
  .project__image__2{
    display: none;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 90px;
  }
}

@media only screen and (max-width: 375px){
  .detailpage_container{
    width: 100%;
  }
  .other__project_content{
    width: 100%;
  }
  .project__image__2{
    display: none;
  }
  .project__content .text__title h5{
    margin-top: -10px;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 77px;
  }
}

@media only screen and (max-width: 360px){
  .detailpage_container{
    width: 100%;
  }
  .other__project_content{
    width: 100%;
  }
  .project__image__2{
    display: none;
  }
  .project__content .text__title h5{
    margin-top: -15px;
  }
  .text__inform .text li{
    width: 100%;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 72px;
  }
}

@media only screen and (max-width: 320px){
  .detailpage_container{
    width: 100%;
  }
  .other__project_content{
    width: 100%;
  }
  .project__image__2{
    display: none;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 68px;
  }
}

@media only screen and (max-width: 280px){
  .detailpage_container{
    width: 100%;
  }
  .other__project_content{
    width: 100%;
  }
  .project__content .text__title h2{
    font-size: 30px;
  }
  .project__image__2{
    display: none;
  }
  .owl-prev, .owl-next{
    position: absolute;
    top: 50px;
  }
}



