.aboutPage__container__thucDayIT {
  display: flex;
  justify-content: center;
}
.aboutPage__container__imagesThucDayIT {
  width: 1170px;
}
.aboutPage__titleImagesThucDayIT {
  max-width: 676px;
  margin-bottom: 50px;
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  letter-spacing: -0.01em;
}
.aboutPage__imageSomePeopleThuc {
  max-width: 624px;
  object-fit: cover;
}

.aboutPage__fighHandTeam {
  display: flex;
  margin-left: -46px;
}

.aboutPage__fighHandTeamImage {
  max-width: 243px;
  height: 243px;
  margin-right: 30px;
  object-fit: cover;
}

@media screen and (max-width: 475px) {
  .aboutPage__titleImagesThucDayIT {
    font-size: 36px;
    line-height: 44px;
  }
  .aboutPage__imageSomePeopleThuc {
    width: 100%;
  }
  .aboutPage__fighHandTeam {
    display: flex;
    margin-left: 43px;
  }
  .aboutPage__fighHandTeam {
    width: 440px !important;
    margin-top: 10px !important;
    margin-left: 18px !important;
  }
  .aboutPage__fighHandTeamImage {
    width: 143px;
    margin-left: -4px;
  }
}
@media screen and (max-width: 375px) {
  .aboutPage__fighHandTeam {
    width: 329px !important;
    margin-top: 10px !important;
    margin-left: 12px !important;
  }
  .aboutPage__fighHandTeamImage {
    width: 143px;
  }
}

@media only screen and (min-width: 376px) and (max-width: 400px) {
  .aboutPage__container__imagesThucDayIT {
    width: 355px;
  }

  .aboutPage__titleImagesThucDayIT {
    max-width: 400px;
  }
  .aboutPage__fighHandTeam {
    width: 340px !important;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
  .aboutPage__container__imagesThucDayIT {
    width: 380px;
  }

  .aboutPage__titleImagesThucDayIT {
    max-width: 400px;
  }

  .aboutPage__fighHandTeam {
    width: 365px !important;
  }
  .aboutPage__fighHandTeamImage {
    margin-left: 10px;
  }
}

@media only screen and (min-width: 310px) and (max-width: 341px) {
  .aboutPage__container__imagesThucDayIT {
    width: 293px;
  }
  .aboutPage__fighHandTeamImage {
    width: 123px;
  }
}
@media only screen and (min-width: 280px) and (max-width: 309px) {
  .aboutPage__container__imagesThucDayIT {
    width: 263px;
  }
  .aboutPage__fighHandTeamImage {
    width: 100px;
  }
}

@media screen and (max-width: 700px) {
  .aboutPage__container__imagesThucDayIT {
    margin: 0 16px;
  }
}

@media only screen and (min-width: 698px) and (max-width: 1000px) {
  .aboutPage__container__imagesThucDayIT {
    width: 720px;
  }
  .aboutPage__imageSomePeopleThuc {
    width: 400px;
  }
  .aboutPage__fighHandTeamImage {
    width: 130px;
  }
  .aboutPage__fighHandTeam {
    margin-left: -20px !important;
  }
}

@media only screen and (min-width: 540px) and (max-width: 697px) {
  .aboutPage__container__imagesThucDayIT {
    width: 500px;
  }
  .aboutPage__imageSomePeopleThuc {
    width: 500px;
  }
  .aboutPage__fighHandTeamImage {
    width: 230px;
  }
  .aboutPage__fighHandTeam {
    margin-top: 10px !important;
    margin-left: 5px !important;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1024px) {
  .aboutPage__container__imagesThucDayIT {
    width: 980px;
  }
  .aboutPage__imageSomePeopleThuc {
    width: 500px;
  }
  .aboutPage__fighHandTeamImage {
    width: 200px;
  }
  .aboutPage__fighHandTeam {
    margin-left: -40px !important;
  }
}

/*  */
@media screen and (max-width: 375px) {
  .aboutPage_containCursorImages {
    max-width: 190px !important;
    display: block !important;
    justify-content: flex-start;
    margin-top: 60px !important;
    /* background-color: rosybrown; */
  }
  .aboutPage_cursorImages {
    width: 10%;
  }
}

.aboutPage_containCursorImages {
  max-width: 1200px !important;
  display: flex;
  justify-content: space-evenly;
  padding: 0 !important;
  margin-top: 60px !important;
}
.aboutPage_cursorImages {
  max-width: 210px;
  margin: 0px 7px;
}
.about__cursorImagesDetail {
  max-width: 110px;
  max-height: 110px;
  margin: 0px 0px 20px 0px;
}

.aboutPage__title_position {
  width: 210px;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600 !important;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.aboutPage__name_position {
  width: 178px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #828282;
}
@media only screen and (min-width: 280px) and (max-width: 320px) {
  .aboutPage__name_position {
    width: 110px;
    line-height: 28px;
  }
  .aboutPage__title_position {
    width: 145px;
  }
  .aboutPage_cursorImages {
    max-width: 200px;
    margin: 0px 15px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 475px) {
  .aboutPage__name_position {
    width: 110px;
    line-height: 28px;
  }
  .aboutPage__title_position {
    width: 145px;
  }
  /* .aboutPage_cursorImages {
    max-width: 200px;
    margin: 0px 25px;
  } */
}
@media only screen and (min-width: 540px) and (max-width: 675px) {
  .aboutPage__name_position {
    width: 110px;
    line-height: 28px;
  }
  .aboutPage__title_position {
    width: 145px;
  }
  /* .aboutPage_cursorImages {
    max-width: 200px;
    margin: 0px 25px;
  } */
}
@media only screen and (min-width: 360px) and (max-width: 375px) {
  .aboutPage__name_position {
    width: 130px;
    line-height: 28px;
  }
  .aboutPage__title_position {
    width: 150px;
  }
  .aboutPage_cursorImages {
    max-width: 190px;
    margin: 0px 20px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 390px) {
  .aboutPage__container__imagesThucDayIT {
    width: 350px !important;
  }
  .aboutPage_cursorImages {
    max-width: 200px;
    margin: 0px 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 750px) {
  .aboutPage_containCursorImages {
    display: block !important;
    justify-content: flex-start;
  }
}
/*  */
.about__statistics__content {
  max-width: 1130px;
  align-items: center;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .about__statistics__content {
    width: 310px !important;
    align-items: center;
    margin: 0 auto;
  }
  .about_titleContainer {
    width: 310px !important;
  }

  .homepage__statistics__number span {
    font-weight: bold !important;
    font-size: 48px !important;
    line-height: 56px !important;
  }

  .about__title__counter {
    width: 315px !important;
    font-size: 36px !important;
    line-height: 44px !important;
    white-space: normal !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 450px) {
  .about__statistics__content {
    max-width: 350px;
    align-items: center;
    margin: 0 auto !important ;
  }
  .aboutPage_cursorImages {
    max-width: 200px;
    margin: 0px 25px;
  }
  .homepage__statistics__number span {
    font-weight: bold !important;
    font-size: 38px !important;
    line-height: 46px !important;
  }

  .about_titleContainer {
    width: 370px !important;
  }

  .about__title__counter {
    font-weight: bold;
    font-size: 8px;
    line-height: 38px;
    text-align: center;
    margin-bottom: 0 !important;
  }
  /* .aboutPage_cursorImages {
    width: 190px;
    margin: 0px 40px;
    background-color: blueviolet;
  } */
}

@media only screen and (min-width: 275px) and (max-width: 329px) {
  .about__statistics__content {
    max-width: 250px;
    align-items: center;
    margin: 0 auto !important ;
  }

  .homepage__statistics__number span {
    font-weight: bold !important;
    font-size: 38px !important;
    line-height: 46px !important;
  }

  .about__title__counter {
    font-weight: bold;
    font-size: 38px !important;
    line-height: 38px;
  }
}

.homepage__statistics__number {
  display: flex;
  align-items: center;
  width: 158px !important;
}

.homepage__statistics__number span {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
}

.homepage__statistics__number i {
  font-weight: 700;
  font-size: 30px;
  line-height: 76px;
  margin-left: 5px;
}

.homepage__statistics__title {
  width: 158px;
  height: 22px;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.about__number__container {
  position: relative;
  margin-top: 100px;
}

.about__images__counter {
  width: 100%;
  height: 415px;
  position: absolute;
  z-index: -1;
}

.about__title__counter {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.01em;
  padding-top: 100px;
}

.about_titleContainer {
  max-width: 471px;
  margin: 100px auto 60px auto;
}

@media only screen and (min-width: 539px) and (max-width: 769px) {
  .about__statistics__content {
    width: 510px !important;
  }
  .aboutPage_cursorImages {
    max-width: 200px;
    margin: 0px 25px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1024px) {
  .about__statistics__content {
    width: 750px !important;
  }
  .aboutPage_cursorImages {
    max-width: 150px;
    margin: 0px 25px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .about__images__counter {
    height: 515px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 354px) {
  .about__images__counter {
    max-width: 100% !important;
    height: 515px;
  }
  .homepage__statistics__title {
    font-size: 16px !important;
  }
}
